[user]
    email = jisuchoi01@gmail.com
    name = jisu choi
    signingKey = 9DF07E25EDDD1277F38B52954534AF151D8D70F5
[credential]
    helpergit = credential
    helper = store
    username = jisuchoi01
    useHttpPath = true
[core]
    editor = vim
    autocrlf = input
    notesRef = true
[alias]
    lg = log --graph --decorate=full --notes --oneline --all --show-signature
[init]
    templateDir = ~/.git-templates
[rerere]
    enabled = true
[commit]
    gpgsign = true
    template = ~/.gitmessage
[gpg]
    program = /usr/bin/gpg
