*

!REAMDE.md

!.bash_profile
!.bash_aliases
!.bashrc
!.bash_logout

!.gitignore
!.git-templates
!.gitmessage
!.gitattributes
!.gitconfig

!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf

!.ssh/config

!.emacs
!.vimrc