[user]
    email = jisuchoi01@gmail.com
    name = jisu choi (Primary)
[credential]
    helpergit = credential
    helper = store
    username = jisuchoi01
    useHttpPath = true 
[core]
    editor = vim
    fsmonitor = true
    whitespace = trailing-space,space-before-tab,tab-in-indent,cr-at-eol
    eol = native
    autocrlf = true
    tabwidth = 4
[color]
	ui = auto
    branch = auto
    status = true
    diff = auto 
[format]
    pretty="%C(yellow reverse)%h%C(auto)%d%C(blue reverse)[%G?]%C(white reverse)%s%n%C(dim)%cr/%ce"
[pretty]
    changelog = "format:%cr %h %s"
    with-note = "%C(yellow reverse)%h%C(auto)%d%C(blue reverse)[%G?]%C(white reverse)%s%n%C(dim)%cr/%ce\n%N"
[alias]
    lga = log  --exclude='refs/notes/*' --graph --decorate=full --notes --oneline --all
    lg = log -n15 --exclude='refs/notes/*' --all --graph --decorate=full
    lgn = log -n15 --exclude='refs/notes/*' --all --graph --decorate=full --pretty=with-note
    br = branch -a -l -vv --color=always
    changelog = log --pretty=changelog
[init]
	templateDir = ~/.git-templates
[rerere]
    enabled = true
[commit]
    gpgsign = true
    template = ~/.gitmessage
[gpg]
	program = gpg2
[log]
    decorate = full
    graphColors = "#457c2f","#5a7f85","#f56038","#f7a325","#ffca7a","#dee0e6","#1ac0c6","#ff6150"
    showRoot = true
[status]
    displayCommentPrefix = true
    showStash = true
# Log graph color
[color "decorate"]
    branch = cyan black bold reverse
    remoteBranch = brightblue black bold reverse
    HEAD = brightgreen black blink reverse
    stash = brightmagenta black reverse
[color "status"]
    branch = green black bold blink
    localBranch = cyan black bold
    remoteBranch = blue black bold
    header = white bold
    changed = brightyellow black
    updated = brightyellow
    added = brightyellow
    unmerged = magenta
    untracked = white dim
[color "branch"]
    current = green black blink
    local = cyan black blink
    remote = blue black bold
    upstream = yellow black bold
    plain = white black bold
[color "diff"]
	meta = blue black bold

