*

!REAMDE.md

!.bash_profile
!.bash_aliases
!.bashrc
!.bash_logout
!.zshrc

!.config/fish/config.fish

!.gitignore
!.git-templates
!.gitmessage
!.gitattributes
!.gitconfig

!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf

!.ssh/config

!.emacs
!.emacs.d/init.el
!.vimrc
